<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./css/style.css">
        <title>Carousel</title>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="slider">
                        <div class="cont-items">
                            <div class="items">
                                <img :src="slides[activateItems].image" :alt="slides[activateItems].title" @mouseover="stopAutoplay" @mouseleave="startAutoplay">
                                <div class="cont-descr">
                                    <h2 class="title">{{ slides[activateItems].title }}</h2>
                                    <p class="description"> {{ slides[activateItems].text }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="cont-btn">
                            <span class="btn-next" @click="next"><i class="fa-solid fa-caret-up"></i></span>
                            <span class="btn-prev" @click="prev"><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        
                    </div>
                    <div class="cont-thumbnails">
                        <div class="thumbnails">
                            <div class="item-thumbnails">
                                <img :class="(activateItems == index) ? 'activate' : ''" v-for="(slide, index) in slides"  :src="slide.image" @click="changeImage(index)">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script type="text/javascript" src="./js/script.js"></script>
    </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div class="item">
                    <img :src="slides[activateItems].image" alt="" />
                    <div class="text">
                        <h3>{{ slides[activateItems].title }}</h3>
                        <p>
                            {{ slides[activateItems].text }}
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev"></div>
                    <div class="next"></div>
                    <div class="thumb" :class="(activateItems == index) ? 'active' : ''" >
                        <img v-for="(slide, index) in slides"  :src="slide.image" @click="changeImage(index)">
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html> -->